html, body {
  margin: 0;
  padding: 0;
  background: black;
  /* height: 100%; */
}
canvas {
  display: block;
}
p{
  font-family: courier;
  text-align: left;
  color: white;
  /* padding-left: 10px; */
  text-align: center;
}
/*
.main {
    height: 100%;
    width: 100%;
    display: table;
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
*/

/* Page structure: el elemento p no se crea dentro :( */
/*
.wrapper {
  min-height: 87vh;
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
*/